body{
    margin:0;
    font-family: Sans-serif;
    /* background-color:rgb(52, 58, 64); */
}
.header-wrapper{
    background: rgb(65,200,131);
}

.header, .page{
    max-width: 1088px;
    margin: auto;
}

.header{
    padding: 10px;
}

.header-brand{
    margin: 10px 0;
    color: whitesmoke;
    font-weight: 500;
    font-size: 25px;
}

.header .collapse-button{
    position: relative;
    background: url('./menu.png');
    background-size: cover;
    border:none;
    height: 40px;
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
    outline: none;
}

.navigation-item{
    margin: 15px 25px 15px 0px;
    color: rgb(200, 240, 219);
    text-decoration: none;
    font-weight: 400;
}

.navigation-item:hover{
    color: whitesmoke;
}

.page{
    margin-top: 100px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

.page-header{
    background-color:  rgb(65,200,131);
}

.page-header, .page-content{
    width: 100%;
    padding: 40px;
}

/* Page 入场动画 */

.home .page-header{
    padding-bottom: 0px;
}

.home .profile{
    height: 250px;
    width: 250px;
    border: solid white;
    box-shadow: 0 0 6px gray;
    transform: translate(0px, 2px);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.home .profile:hover{
    transform: translate(0px, -2px);
    transition: transform 0.2s ease-out;
}

@media only screen and (min-width: 1280px) {
    .header-wrapper{
      background-color: rgb(52, 58, 64);
      box-shadow: 0 0 20px rgb(34, 37, 41);
    }

    .header-brand{
        color: rgb(65,200,131);
    }

    .navigation-item{
        color: gainsboro;
    }
}